<footer class="w-full bg-white border-t border-gray-200 px-6 py-12">

  <div class="max-w-7xl mx-auto">

    <div class="grid grid-cols-1 md:grid-cols-4 gap-12">

      <div>
        <h3 class="footer-title">CONTACT US</h3>
        <ul class="footer-list">
          <li>+1 (844) 326-6000</li>
          <li>Email Us</li>
          <li>Mon–Fri 9am–3pm PT</li>
        </ul>
      </div>

      <div>
        <h3 class="footer-title">CUSTOMERS</h3>
        <ul class="footer-list">
          <li>Start a Return</li>
          <li>Return Policy</li>
          <li>FAQ</li>
          <li>Catalogs and Mailers</li>
          <li>About Group Gifting</li>
        </ul>
      </div>

      <div class="gap-4">
        <h3 class="footer-title">COMPANY</h3>
        <ul class="footer-list">
          <li>About Us</li>
          <li>Sustainability</li>
          <li>Discover Revive</li>
          <li>Careers</li>
          <li>Privacy Policy</li>
          <li>Terms</li>
        </ul>
      </div>

      <div>
        <h3 class="footer-title">Get the latest new from us</h3>

        <input
          type="email"
          placeholder="Enter your email address"
          class="w-full border border-gray-300 px-4 py-3 mt-3"/>

        <p class="text-xs mt-3">
          By signing up, you agree to our
          <a class="underline" href="#">Privacy Policy</a>
          and
          <a class="underline" href="#">Terms of Service</a>.
        </p>

        <button class="bg-black text-white px-5 py-3 mt-4 hover:opacity-80 duration-300">
          Subscribe
        </button>
      </div>

    </div>

    <p class="mt-12 text-sm">© CEIN</p>

  </div>
</footer>