.footer-title {
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #565656;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.72%;
  text-transform: uppercase;
}


.footer-list {
    margin-top: 20px;
    font-family: Styrene A Web;
    font-weight: 400;
    font-size: 13px;
}