<footer class="w-full bg-[#F5F4F4] border-t border-gray-200 p-15 py-15  ">

    <div class="max-w-8xl mx-auto">

        <div class="grid grid-cols-1 md:grid-cols-4 gap-12">

            <div class="md:col-span-3 flex flex-col md:flex-row gap-15">

                <div>
                <h3 class="font-normal tracking-wide text-[#565656] text-sm leading-4 uppercase">CONTACT US</h3>
                <ul class="mt-5 font-styrene font-normal text-sm">
                    <li>+1 (844) 326-6000</li>
                    <li>Email Us</li>
                    <li>Mon–Fri 9am–3pm PT</li>
                </ul>
                </div>

                <div>
                <h3 class="font-normal tracking-wide text-[#565656] text-sm leading-4 uppercase">CUSTOMERS</h3>
                <ul class="mt-5 font-styrene font-normal text-sm">
                    <li>Start a Return</li>
                    <li>Return Policy</li>
                    <li>FAQ</li>
                    <li>Catalogs and Mailers</li>
                    <li>About Group Gifting</li>
                </ul>
                </div>

                <div>
                <h3 class="font-normal tracking-wide text-[#565656] text-sm leading-4 uppercase">COMPANY</h3>
                <ul class="mt-5 font-styrene font-normal text-sm">
                    <li>About Us</li>
                    <li>Sustainability</li>
                    <li>Discover Revive</li>
                    <li>Careers</li>
                    <li>Privacy Policy</li>
                    <li>Terms</li>
                </ul>
                </div>

            </div>

            <div class="mr-20">
                <h3 class="font-normal tracking-wide text-[#565656] text-sm leading-4 uppercase">Get the latest new from us</h3>

                <mat-form-field appearance="outline" class="w-full mt-3">
                    <input
                        matInput
                        type="email"
                        placeholder="Enter your email address"
                        [formControl]="emailControl"/>
                </mat-form-field>

                <p class="text-sm mt-3">
                By signing up, you agree to our
                <a class="underline" href="#">Privacy Policy</a>
                and
                <a class="underline" href="#">Terms of Service</a>.
                </p>

                <button mat-flat-button class="bg-black text-white px-5 py-3 mt-4 hover:opacity-80 duration-300 !rounded-md">
                Subscribe
                </button>
            </div>
        </div>
        
        <p class="mt-20 text-base">© CEIN</p>
    </div>
</footer>