<header class="w-full sticky top-0 z-50 bg-white border-b border-gray-200">
  <nav class="flex items-center justify-between px-6 py-4">

    <div class="flex items-center gap-6">

      <button class="md:hidden text-[26px]">
        <i class="ph ph-list"></i>
      </button>

      <img src="assets/Logo.svg"
           width="86"
           height="19"
           alt="Logo"
           class="" />

      <ul class="hidden md:flex items-center gap-8 text-[15px] font-medium ml-6">
        <li><a class="hover:opacity-60 duration-300" href="#">Shop</a></li>
        <li><a class="hover:opacity-60 duration-300" href="#">New Arrivals</a></li>
        <li><a class="hover:opacity-60 duration-300" href="#">Sales</a></li>
        <li><a class="hover:opacity-60 duration-300" href="#">Journal</a></li>
      </ul>
    </div>

    <div class="flex items-center gap-6 text-[20px]">
      <i class="ph ph-magnifying-glass hover:opacity-60"></i>

      <span class="hidden md:block text-[18px]">Stores</span>

      <div class="hidden md:flex items-center">
        <i class="ph ph-user hover:opacity-60"></i>
      </div>

      <div class="flex items-center gap-1">
        <i class="ph ph-heart hover:opacity-60"></i>
        <span>0</span>
      </div>

      <div class="flex items-center gap-1">
        <i class="ph ph-shopping-cart hover:opacity-60"></i>
        <span>2</span>
      </div>
    </div>

  </nav>
</header>