<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-8 space-y-10">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">ავტორიზაცია</h2>

    <form [formGroup]="form" (ngSubmit)="login()" class="space-y-5">

      <div>
        <mat-form-field appearance="fill" class="w-full rounded-md">
          <mat-label>იმეილი</mat-label>
          <input
            matInput
            id="email"
            type="email"
            formControlName="email"
            placeholder="example@mail.com"
          />
          @if (formControls.email.touched && formControls.email.errors) {
            <mat-error class="text-red-500 text-sm mt-1">
              {{ formControls.email.errors | errorMsg: errors.email }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="w-full rounded-md">
          <mat-label>პაროლი</mat-label>
          <input
            matInput
            id="password"
            type="{{ hidePassword() ? 'password' : 'text' }}"
            formControlName="password"
            placeholder="შეიყვანე პაროლი"
          />
          <button mat-icon-button matSuffix type="button" (click)="hidePassword.set(!hidePassword())">
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (formControls.password.touched && formControls.password.errors) {
            <mat-error class="text-red-500 text-sm mt-1">
              {{ formControls.password.errors | errorMsg: errors.password }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        class="w-full py-2 text-lg font-medium bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg transition disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        შესვლა
      </button>

    </form>
  </div>
</div>
