
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}
@import "tailwindcss";


html, body {
  height: 100%;
}
* {
  font-family: 'Poppins', sans-serif;
}
swiper-container::part(button-next),
swiper-container::part(button-prev) {
  width: 22px;
  height: 22px;
  transition: transform duration-500; 
  transition: transform 0.5s ease, background-color 0.2s ease;
  background-color: transparent;
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.081);
  &:hover,
  &:focus {
    transform: scale(1.03);
    background-color: #ffffff32;
  }
  color: #333;
}

swiper-container::part(bullet) {
  background: #aaa;
}

swiper-container::part(bullet-active) {
  background: #000;
  overflow: hidden;
}

.hover-elevate {
  transform: scale(1.03);
  box-shadow:
    0 18px 45px rgba(15, 23, 42, 0.08),
    0 8px 16px rgba(15, 23, 42, 0.04);
  transition: transform 500ms ease, box-shadow 500ms ease;
}

@font-face {
  font-family: "Styrene A Web";
  src: url("/assets/fonts/StyreneAWeb-Regular.woff2") format("woff2");
}

.font-styrene {
  font-family: "Styrene A Web", sans-serif;
}

.discount-dialog-panel .mat-mdc-dialog-container {
  padding: 0 !important;
  border-radius: 0 !important;
  overflow: hidden !important;
}