<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-8 space-y-10">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">რეგისტრაცია</h2>
    <form [formGroup]="form" (ngSubmit)="register()" class="space-y-5">

      <div>
        <mat-form-field appearance="fill" class="w-full rounded-md">
          <mat-label>მომხმარებლის სახელი</mat-label>
          <input
            matInput
            id="username"
            type="text"
            formControlName="username"
            placeholder="ჩაწერე მომხმარებლის სახელი"
          />
          @if (formControls.username.touched && formControls.username.errors) {
            <mat-error class="text-red-500 text-sm mt-1">
              {{ formControls.username.errors | errorMsg: errors.username }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="w-full rounded-md">
          <mat-label>იმეილი</mat-label>
          <input
            matInput
            id="email"
            type="email"
            formControlName="email"
            placeholder="example@mail.com"
          />
          @if (formControls.email.touched && formControls.email.errors) {
            <mat-error class="text-red-500 text-sm mt-1">
              {{ formControls.email.errors | errorMsg: errors.email }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="w-full rounded-md">
          <mat-label>დაბადების თარიღი</mat-label>
          <input matInput [matDatepicker]="picker" id="birth_date" formControlName="birth_date" placeholder="აირჩიე თარიღი" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (formControls.birth_date.touched && formControls.birth_date.errors) {
            <mat-error class="text-red-500 text-sm mt-1">
              {{ formControls.birth_date.errors | errorMsg: errors.birth_date }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="w-full rounded-md">
          <mat-label>პაროლი</mat-label>
          <input
            matInput
            id="password"
            type="{{ hidePassword() ? 'password' : 'text' }}"
            formControlName="password"
            placeholder="მინ. 6 სიმბოლო"
          />
          <button mat-icon-button matSuffix type="button" (click)="hidePassword.set(!hidePassword())">
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (formControls.password.touched && formControls.password.errors) {
            <mat-error class="text-red-500 text-sm mt-1">
              {{ formControls.password.errors | errorMsg: errors.password }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="w-full rounded-md">
          <mat-label>გაიმეორე პაროლი</mat-label>
          <input
            matInput
            id="confirm_password"
            type="{{ hideConfirmPassword() ? 'password' : 'text' }}"
            formControlName="confirm_password"
            placeholder="გაიმეორე პაროლი"
          />
          <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword.set(!hideConfirmPassword())">
            <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
            <!-- <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon> -->
          @if (formControls.confirm_password.touched && formControls.confirm_password.errors) {
            <mat-error class="text-red-500 text-sm mt-1">
              {{ formControls.confirm_password.errors | errorMsg: errors.confirm_password }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        class="w-full py-2 text-lg font-medium bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg transition disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        რეგისტრაცია
      </button>
    </form>
  </div>
</div>